@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&display=swap');

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  font-family: var(--bodyfont, 'Ibarra Real Nova', serif);
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
  width: 50%;
  padding: 60px 70px 50px 70px;
  border: 1px solid var(--bor);
}

.sans-serif {
  font-family: var(--sansfont, 'Roboto', sans-serif);
  font-weight: 300;
}

.partner-tag {
  border-radius: 8px;
  padding: 4px 8px;
  display: block;
  margin-top: 30px;
  text-align: center;
  color: var(--textcolor);
  transition: filter 0.5s ease;
}

.partner-tag:hover {
  filter: blur(1px);
}

.hl {
  border-radius: 8px;
  padding: 4px 8px 2px 8px;
  display: inline;
  transition: background-color 0.7s ease, filter 0.7s ease;
}

.hl:hover {
  filter: brightness(1.3);
}

.one {
  background: rgba(var(--accent1), 0.3);
}

.two {
  background: rgba(var(--accent2), 0.3);
}

.three {
  background: rgba(var(--accent3), 0.3);
}
