@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&display=swap');

/* Default (Light Mode) */
:root {
  --text-color: black;
  --bg-color: transparent;
  --border-color: rgba(var(--accent1), 0.5);
  --highlight-opacity: 0.3;
}

/* Dark Mode */
html[color-mode="dark"] {
  --text-color: white;
  --bg-color: transparent;
  --border-color: rgba(var(--accent1), 0.5);
  --highlight-opacity: 0.5;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
  width: 50%;
  padding: 60px 70px 70px 50px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  background: var(--bg-color);
  box-sizing: border-box;
}

.sans-serif {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.partner-tag {
  border-radius: 8px;
  padding: 4px 8px;
  display: block;
  margin-top: 30px;
  text-align: center;
  color: rgba(var(--accent2), 0.7);
  transition: filter 0.3s ease-in-out;
}

.partner-tag:hover {
  filter: blur(1px);
}

.hl {
  border-radius: 8px;
  padding: 4px 8px 2px;
  display: inline;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.hl:hover {
  filter: brightness(1.3);
}

.one {
  background: rgba(var(--accent1), var(--highlight-opacity));
}

.two {
  background: rgba(var(--accent2), var(--highlight-opacity));
}

.three {
  background: rgba(var(--accent3), var(--highlight-opacity));
}
