@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

body {
    margin: 0; 
    padding: 0;
    height: 100vh;  /* Full height of the viewport */
    display: flex;
    justify-content: center;  /* Centers the content horizontally */
    align-items: center;  /* Centers the content vertically */
}

.thread-content {
    width: 30%;  /* Makes the content 70% of the page width */
    font-family: 'Ibarra Real Nova', serif;
    font-size: 14px;
    line-height: 1.6;  
    text-align: justify;
    border: 1px solid black;  /* Adds a 1px solid black border */
    padding: 60px;  /* Adds space inside the border (between the text and the border) */

}
/* Group Color Highlights with 30% opacity */
.mgcolor1 {
    background: rgba(var(--mgrgb1), 0.3); /* 30% opacity for color 1 */
}

.mgcolor2 {
    background: rgba(var(--mgrgb2), 0.3); /* 30% opacity for color 2 */
}

.mgcolor3 {
    background: rgba(var(--mgrgb3), 0.3); /* 30% opacity for color 3 */
}

.partner-tag {
 
    border-radius: 8px;
    padding: 4px 8px;
    display: block;  /* Make it a block element */
    margin: 0 auto;  /* Center the block element horizontally */
    text-align: center;  
}

.partner-tag a {
    color: inherit;  /* Inherit the color from the surrounding text */
    text-decoration: none;
    border-bottom: 1px dashed rgba(var(--mgrgb1), 0.3);
}

.partner-tag a:hover {
    text-decoration: underline;
}
