      :root {
      --accent1: 255, 100, 100; 
      --accent2: 100, 200, 100; 
      --accent3: 100, 100, 255; 
      --op3: 1;
    }

    body.darkmode {
      --op3: 0.65; 
    }

    .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .img-container {
      max-width: 800px;
      border: 7px solid transparent;
      border-image: 
        linear-gradient(
          90deg, 
          rgba(var(--accent1), var(--op3)),
          rgba(var(--accent2), var(--op3)),
          rgba(var(--accent3), var(--op3))
        ) 1; 
      display: inline-flex;
      justify-content: center;
      padding: 50px; 
      background: transparent !important;
    }

    .img-container img {
      max-width: 500px;
      max-height: 500px;
      width: auto;
      height: auto;
      display: block;
    }
