body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use min-height instead of height */
}

.thread-template {
  width: auto;
  display: block; /* Change from inline-block */
  border: 1px solid black;
  padding: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.content {
  font-family: 'Libre Baskerville', serif;
  font-size: 13px;
  text-align: justify;
  margin: 0;
  line-height: 1.6;
}

.content b {
  font-weight: normal;
  background: rgba(var(--mgrgb1), 0.5);
  padding: 0 5px;
}

.content b.b-1 {
  background: rgba(var(--mgrgb1), 0.3);
}

.content b.b-2 {
  background: rgba(var(--mgrgb2), 0.3);
}

.content b.b-3 {
  background: rgba(var(--mgrgb3), 0.3);
}

.content p {
  margin-bottom: 15px;
}

.link-text {
  font-family: 'Libre Baskerville', serif;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}

.link-text a {
  text-decoration: none;
  color: rgb(var(--mgrgb2)); 
  border-bottom: 1px dashed rgba(var(--mgrgb2), 0.7);
}
