.thread-template {
  width: 500px;
  display: inline-block;
  border: 1px solid black;
  padding: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.content {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 13px;
  text-align: justify;
  margin: 0;
  line-height: 1.6;
}

.content b {
  background: rgba(var(--mgrgb1), 0.5); /* Default highlight color */
  padding: 0 5px;
}

.content b.b-2 {
  background: rgba(var(--mgrgb2), 0.5); /* Group 2 highlight color */
}

.content b.b-3 {
  background: rgba(var(--mgrgb3), 0.5); /* Group 3 highlight color */
}

.content p {
  margin-bottom: 15px;
}

.link-text {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}

.link-text a {
  text-decoration: none;
  color: ;
}
